<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Guardians"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".view.patient.patientdata.heartrate.HeartRateActivity"
            android:exported="false"
            android:label="@string/title_activity_heart_rate"
            android:theme="@style/Theme.TeamGuardians" />
        <activity
            android:name=".view.general.Setting"
            android:exported="false" />
        <activity
            android:name=".view.general.PatientProfileAddActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.Homepage4admin"
            android:exported="false" />
        <activity
            android:name=".view.general.Homepage4caretaker"
            android:exported="false" />
        <activity
            android:name=".view.general.Homepage4nurse"
            android:exported="false" />

        <activity android:name=".view.general.TaskDetailActivity"
            android:exported="false" />

        <activity android:name=".view.general.TaskAddActivity"
            android:exported="false" />

        <activity
            android:name=".view.general.UploadPhoto"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.notifications.falsealarm.FalseAlertConfirmedActivity"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.notifications.confirmincident.ConfirmIncidentActivity"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.notifications.FallAlertActivity"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.CaretakerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.CaretakerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.caretaker.EditCaretakerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.patient.patientdata.healthdata.HealthDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.patient.associateradar.ActivitySuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.ArchivedPatientListActivity"
            android:exported="false" />
        <activity
            android:name=".view.patient.viewactivitydata.WeeklyActivityProfilingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.patient.associateradar.ActivityProfilingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.patient.careplan.CarePlanSummaryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.patient.careplan.CarePlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.patient.dailyreport.DailyReportSummaryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.patient.dailyreport.DailyReportActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.general.PatientListActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.AddNewPatientActivity"
            android:exported="false" /> <!-- Kussay: may we need to change the start up page into login page -->
        <activity
            android:name=".view.general.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- These are here only for UI testing -->
        <activity
            android:name=".view.patient.patientdata.medicaldiagnostics.MedicalDiagnosticsActivity"
            android:exported="false" />
        <activity
            android:name=".view.general.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".view.patient.PatientDashboardActivity"
            android:exported="false" />
        <activity android:name="deakin.gopher.guardian.view.general.TasksListActivity" />

        <service
            android:name=".model.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
